body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  background-color: #f2f2f2;
  overflow-x: hidden;
  position: relative;
  padding: 0px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 200px;
  display: block;
  font-size: 16px;
}

button {
  padding: 5px;
  border-radius: 2px;
  margin: 0px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
} 

p {
  margin: 0px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 10px;
}

th {
    border: 1px solid #dddddd;
    padding: 8px 5px 8px 5px;
    text-align: center;
}

td {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 2px 5px 2px 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead {
  background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* header */

.header {
  background-color: white;
  width: 105%;
  margin: -10px 0px 0px -5px;
}

.header .cell0 {
  display: none;
}

.header .cell1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.header .cell2 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 12px;
}

.headerInput {
  width: 90%;
  height: 20px;
  margin: 0px 10px 0px 0px;
  display: inline-block;
}

.headerButton {
  height: 25px;
  margin: 0px;
}

/* nav */

.navWrapper {
  width: 105%;
  margin: 0px 0px 0px -5px;
  background-color: #333;
}

.navWrapper a {
  text-align: center;
  padding: 14px 0px;
  flex-grow: 1;
}

.active {
    background-color: black;
}

.navWrapper a:hover:not(.active) {
  background-color: #111;
}

.nav {
  display: flex;
  width: 768px;
  margin: 0 auto;
}

/* content */

.wrapper {
  top: 150px;
  width: 100%;
}

.content {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border: solid;
  border-width: 1px;
  border-color: #bfbfbf;
}

.footer {
  height: 150px;
  width: 100%;
}

/* /index */

#openAuctionsCell {
  padding-bottom: 20px;
  text-align: center;
}

#openAuctionsTable {
  width: 90%;
}

#bidInput {
  width: 54px;
  display: inline-block;
}

/* /myauctions */

#manageAuctionsCell {
  padding: 0px 10px 0px 10px;
  text-align: center;
}

#myAuctionsTable {
  margin-bottom: 20px;
}

#withdrawTable {
  margin-bottom: 20px;
}

/* /create */

#createAuctionCell {
  padding: 20px 10px 20px 10px;
  text-align: center;
}

#createAuction {
  margin-top: 10px;
  display: block;
}

#createAuctionInput {
  margin: 0 auto;
  margin-bottom: 10px;
}

#createAuctionButton {
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .nav {
      display: flex;
      width: 100%;
    }
}

@media only screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 2.2fr 5fr 2.2fr;
    padding-top: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #bfbfbf;
    position: relative;
    top: 0;
  }

  .header .cell0 {
    display: flex;
    justify-content: center;
  }

  .header .cell1 {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .header .cell2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }

  #manageAuctionsCell {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  #id {
    display: none;
  }

  #bidButton {
    width: 60px;
  }

  #bidder {
    display: none;
  }

  #seller {
    display: none;
  }
}
